:root {
  --primary-color: #ada2f9;
  --secondary-color: #e1d7fc;
  --hightlight-color: #bce784;
  --text-color: #041514;
}

body {
  margin: 0 !important;
  /* padding: 60px; */
  background: var(--primary-color) !important;
  color: var(--text-color) !important;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
  color: var(--text-color) !important;
  font-size: 4.5rem !important;
  line-height: 1 !important;
}

h2 {
  padding-bottom: 0px !important;
  margin-bottom: 1.5rem !important;
  font-size: 40px !important;
  line-height: 1 !important;
}

h3 {
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 1 !important;
  padding-bottom: 0px !important;
  margin-bottom: 10px !important;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none !important;
}

.active {
  color: var(--hightlight-color) !important;
}

a:hover {
  color: var(--hightlight-color);
}

a.nav-link:hover {
  color: var(--hightlight-color);
}

.link {
  color: var(--text-color);
}

.highlight {
  color: var(--hightlight-color);
}
.navbar-toggler {
  color: transparent !important;
  border: none !important;
}

.hero {
  padding: 120px 0;
}

.hero h2 {
  margin-bottom: 0.5rem !important;
}
.hero p {
  font-size: 28px !important;
  line-height: 120%;
  font-weight: normal;
}

.col img {
  float: right;
}

.btn-branding {
  background: var(--hightlight-color) !important;
  border-radius: 4px !important;
  color: var(--text-color) !important;
  font-size: 18px !important;
  line-height: 27px !important;
  padding: 15px 30px !important;
  font-weight: bold !important;
}

.btn-branding-outline {
  color: var(--text-color) !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px !important;
  font-weight: bold !important;
}

.btn-branding:hover {
  background: var(--primary-color) !important;
  color: var(--hightlight-color) !important;
}

.btn-branding-outline:hover {
  background: var(--hightlight-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--hightlight-color) !important;
}

.content {
  padding: 120px 0;
}

.project {
  margin: 50px;
  text-align: center;
}
/* work page */
.work h1 {
  text-align: center;
  font-size: 2.5rem !important;
}

/* Footer */
footer {
  margin: 120px 0 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--text-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background: var(--hightlight-color);
}

.contact-link {
  color: var(--text-color);
  text-align: center !important;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
}

div#copyright {
  background-color: var(--text-color);
  color: var(--secondary-color);
  padding: 15px;
  text-align: center;
}

div#copyright a {
  color: var(--hightlight-color);
}

div#copyright a:hover {
  color: var(--primary-color);
}

/* Responsive */
@media (max-width: 900px) {
  .col-lg-6 {
    margin: 30px 0;
  }
  .col h2 {
    margin: 0px !important;
  }
  .row {
    flex-direction: row !important;
  }
  h1 {
    font-size: 3rem !important;
    text-align: center !important;
  }
  .hero h2 {
    font-size: 36px;
  }
  .hero p {
    font-size: 18px !important;
  }
  .home .row {
    flex-direction: column !important;
  }

  .content {
    text-align: center;
    padding: 60px 0;
  }

  .about h1 {
    font-size: 3rem !important;
  }

  .about h2 {
    font-size: 36px !important;
  }

  .contact-link {
    font-size: 28px;
  }
  .row {
    flex-direction: column;
  }

  .work h1 {
    font-size: 1.5rem !important;
  }

  .d-flex {
    display: flex !important;
    flex-direction: column;
    gap: 15px;
  }

  nav.navbar.d-flex.navbar-expand-lg.navbar-light {
    flex-direction: row;
  }
}
